@model IEnumerable<ContactManagerEF.Models.Contact>

@{
    // Getting Contact data into the simple grid view design using foreach loop aand html table
}

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("Create", "Contacts", null, Context.Request.Scheme)','New Contact')" class="btn btn-success text-white" title="Add New Contact"><i class="far fa-plus-square"></i>&nbsp;New Contact</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr ondblclick="showInPopup('@Url.Action("Edit", "Contacts", new { id = item.ContactId }, Context.Request.Scheme)','Edit Contact')">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    <a onclick="showInPopup('@Url.Action("Details", "Contacts", new { id = item.ContactId }, Context.Request.Scheme)','Contact Details')" title="Details" class="btn btn-info ml-1" style="background-color: transparent; outline: none; border: none;"><i class="fas fa-address-card fa-lg"></i></a>

                    <a onclick="showInPopup('@Url.Action("Edit", "Contacts", new { id = item.ContactId }, Context.Request.Scheme)','Edit Contact')" title="Edit Contact" class="btn btn-info ml-1 " style="background-color: transparent; outline: none; border: none;"><i class="fas fa-marker fa-lg"></i></a>

                    <form asp-action="Delete" asp-route-id="@item.ContactId" onsubmit="return ContactDelete(this)" class="d-inline">
                        <input type="hidden" asp-for="@item.ContactId" />
                        <button type="submit" title="Delete Contact" value="Delete" class="text-danger ml-1" style="background-color: transparent; outline: none; border: none;"><i class="fas fa-trash-alt fa-lg"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
